*{
    margin: 0;
    padding: 0;
    
}


nav{
    background: #000;
    
}

nav> ul>li>a{
    color: #24FAFA;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 0em auto 0 auto;
    height: 85vh;
    background: #e1ffff;
    
}

main > img{
    width: 40em;
    height: 80vh;
    
}

section{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.bloco{
    display: flex;
    align-items: center;
    
    
}

.logo{
    display: flex;
    background: rgb(255, 255, 255);
    width: 3.5em;
    height: 3.5em;
    align-items: center;
    justify-content: center;
    
}

.conteudo{
    display: flex;
    
    width: 10em;
    height: 3.5em;
    align-items: center;
    justify-content: center;
    border-radius: 0 40px 40px 0;
    font-weight: bolder;
    cursor: pointer;
    
}

.conteudogit:hover{
    opacity: 0.7;
}

.conteudolinkedin:hover{
    opacity: 0.7;
}



.logowhats{
    border: 2px solid #3EB805;
    
}

.conteudowhats{
    background: #3EB805;  
    border: 2px solid #3EB805;
}


.logogit{
    border: 2px solid #000000;
    
}

.conteudogit{
    background: #000000;
    border: 2px solid #000000;
    color: white;
}


.logolinkedin{
    border: 2px solid #00A3FF;
    
}

.conteudolinkedin{
    background: #00A3FF;
    border: 2px solid #00A3FF;
    color: white;
}

.logogmail{
    border: 2px solid #FE0000;
    
}

.conteudogmail{
    background: #FE0000;
    border: 2px solid #FE0000;
    color: white;
}

footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1ffff;
    color: #24FAFA;
}

footer >img{
    width: 1.5em;
}

@media(max-width:925px){
    main>img{
        width: 50%;

    }
}

@media(max-width:700px){
    nav>a>img{
        width: 60%;
    }

    ul{
        
        width: 15em;
    }    

    nav>ul>li>a{
        font-size: 0.7em;
    }

    main{
        height: 140vh;
        flex-direction: column;
        align-items: center;
    }

    main>img{
        width: 70vw;
        height: 60vh;
    }

    main>section{
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        /*grid-column-start: 1;
        grid-column-end: 3;*/
        
    }

    .start{
        
        align-items:flex-start ;
    }

    .bloco{
        width: 15em;
    }
}

@media(max-width:550px){

    nav{
        
        height: 25vh;
        display: flex;
        justify-content: space-around;
    }

    nav>a>img{
        width: 8.5em;
        
    }

    nav ul{
        flex-direction: column;
        width: 7em;
        height: 7em;
        align-items: center;
        margin-right: 0;
        justify-content: space-around;
    }

    ul>li{
        font-size: 120%;
    }

    main>section{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 372px){
    
    nav{
        height: 25vh;
    }

    nav>a>img{
        width: 120px;
    }

    nav>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 6em;
        width: 7em;
        margin-right: 0;
        font-size: 1.6em
    }

    main>img{
        width: 90vw;
        height: 45vh;
    }
    
}